.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.item {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-bottom: 5px;
  border: 1px solid rgba(67, 64, 64, 0.3);
  border-radius: 5px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.name {
  font-style: 20px;
  font-weight: 500;
}

.avatar {
  margin-right: 10px;
}
